{% extends "_layouts/base.html" %}
{% block title %}<title>FlaskEchoDemo</title>{% endblock title %}
{% block jshead %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>   
{% endblock jshead %}
{% block content %}
<script type="text/javascript">
  $(function() {
    $("#submitBtn").click(function() {
         $.ajax({
            type: "GET",
            url: $SCRIPT_ROOT + "/echo/",
            contentType: "application/xml; charset=utf-8",
            data: { echoValue: $('input[name="echoText"]').val() },
            success: function(data) {
                $('#echoResult').text(data.value);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });    
    });
  });
</script>
<strong>Enter a value to echo back:</strong>
<input size="10" id="echoText" name="echoText" type="text">
<button type="button" id="submitBtn" name="submitBtn">Submit via AJAX</button><br><br>
<strong><div id="echoResult"></div></strong>
{% endblock %}