{% extends "home.html" %}

{% block container %}
<div class="top-pad">
    <table class="table table-bordered table-striped">
	  <tbody>
        <h4>{{ full_name(asset) }}</h4>
        <tr>
			<th> Filename</th>
			<td>{{ asset['filename'] }}</td>
		</tr>
		<tr>
			<th align="left" scope="row"> Object ID</th>
			<td>{{ asset['_id'] }}</td>
		</tr>
		<tr>
			<th align="left" scope="row"> MD5 Checksum</th>
			<td>{{ asset['md5'] }}</td>
		</tr>
		<tr>
			<th align="left" scope="row"> Upload Date</th>
			<td>{{ asset['uploadDate'] }}</td>
		</tr>
		<tr>
			<th align="left" scope="row"> Content Header</th>
			<td>{{ asset['contentType'] }}</td>
		</tr>
		<tr>
			<th align="left" scope="row"> Metadata</th>
			<td>{{ asset['metadata'] }}</td>
		</tr>
	  </tbody>
    </table>
</div>
{% endblock %}