{% extends 'base.html' %}

{% block extra_js %}

<script type="text/javascript">
$( document ).ready( function() {
	$( '#searchSubmit' ).click( function() {
		q = $( '#q' ).val();
	$( '#results' ).html( '&nbsp;' ).load("{{ url_for('image.imagefs', filename=q) }}");
	});
});

$( document ).ajaxStart( function() {
	$( '#spinner' ).show();
	}).ajaxStop( function() {
	$( '#spinner' ).hide();
});
</script>

{% endblock %}

{% block main %}
<div id="mainSearch">
  <form method="GET" id="mainForm" enctype="multipart/form-data">
	<input id="q" type="text" name="q"/>
	<button id="searchSubmit" class="btn btn-success" type="submit" name="submit">Submit</button>
	<span class="hint">Type in a query string to search for users</span>
	<div class="margin">
  		<span id="spinner"><img src="http://upload.wikimedia.org/wikipedia/commons/d/de/Ajax-loader.gif"/></span>
	    <div id="results"></div>
    </div>
  </form>
</div>
<div class="container">
  <div class="row">
  {% block results %}{% endblock %}
  </div>
</div>
{% endblock %}
